#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width:100%;
    gap:20px;
}

.box_div{
    border: 2px solid greenyellow;
      display: flex;
    flex-direction: column;
    align-items: center;   
}

.box_div img{
    width: 150px;
    height: 250px;
    object-fit: contain;

}
#cart_btn{
    border: none;
    background: transparent;
    color: red;
    font-size: 22px;
}
